<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>

  <body>

    <div class="container">

  <img src="http://cache.marriott.com/Images/TNG/marriott_logo_gray.png"
  className="hotel-logo"
  alt="logo"
  align="left"
  /><br>

  <p align="left"><b>
  Please Connect to the Hotel Network
  </b></p>
  <p align="left">
  To upgrade to Enhanced Internet, you must first connect to the wireless network.
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;
  - Open your wireless utility or “Settings” app for Wi-Fi connections
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;
  - Select the guest network listed for your hotel
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;
  - Click Sign Up below


  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>


</div>
<br>
</div>
</div>
</body>
</html>
