<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>

  <body style="background-color:#f7f8f9;">

<div class="container" align="center">

<div style=
"border:1px;
border-style:solid;
border-color:#D3D3D3;
padding:
1em;
width:44%;">
<div style=
"border:1px;
border-style:solid;
border-color:#D3D3D3;
padding: 1em;
width: 91.5%;
border-top-style: hidden;
border-left-style: hidden;
border-right-style: hidden;">
  <img src="../static/logo.png"
  className="hotel-logo"
  alt="logo"
  align="left"
  /><br>
</div>
<div style=
"border:1px;
border-style:solid;
border-color:#D3D3D3;
padding: 1em;
width: 91.5%;
border-top-style: hidden;
border-left-style: hidden;
border-right-style: hidden;">
<font align="left">
  <p align="left"><b>
  Please Connect to the Hotel Network
  </b></p>
  <p align="left">
  To connect to our Internet, you must first connect to the wireless network.
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;
  - Click Sign Up below
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;
  - Check trust this CA to identify websites
  <br/>
  &nbsp;&nbsp;&nbsp;&nbsp;
  - Click OK
</p>

  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</div>
<div style=
"border:1px;
border-style:solid;
border-color:#D3D3D3;
padding: 1em;
width: 91.5%;
border-top-style: hidden;
border-left-style: hidden;
border-right-style: hidden;">
<font size="2">
<p align="left">
By clicking Sign Up you agree to the following:<br><br>
<b>Terms and Conditions
</b></p>
<p>By using our internet service, you hereby expressly acknowledge and agree
  that there are significant security, privacy and confidentiality risks
  inherent in accessing or transmitting information through the internet,
  whether the connection is facilitated through wired or wireless technology.
  Security issues include, without limitation, interception of transmissions,
  loss of data, and the introduction or viruses and other programs that can
  corrupt or damage your computer. Accordingly, you agree that the owner and/or
  provider of this network is NOT liable for any interception or transmissions,
  computer worms or viruses, loss of data, file corruption, hacking or damage to
  your computer or other devices that result from the transmission or download
  of information or materials through the internet service provided. Use of the
  wireless network is subject to the general restrictions outlined below.
  If abnormal, illegal, or unauthorized behavior is detected, including heavy
  consumption of bandwidth, the network provider reserves the right to
  permanently disconnect the offending device from the wireless network.
  <br><br>
  <b>Examples of Illegal Uses</b><br><br>
  The following are representative examples only and do not comprise a
  comprehensive list of illegal uses:
  <ol>
    <li>Spamming and invasion of privacy - Sending of unsolicited bulk and/or
      commercial messages over the Internet using the Service or using the
      Service for activities that invade another's privacy.</li>
    <li>Intellectual property right violations - Engaging in any activity that infringes or misappropriates the intellectual property rights of others, including patents, copyrights, trademarks, service marks, trade secrets, or any other proprietary right of any third party.</li>
    <li>Accessing illegally or without authorization computers, accounts, equipment or networks belonging to another party, or attempting to penetrate/circumvent security measures of another system. This includes any activity that may be used as a precursor to an attempted system penetration, including, but not limited to, port scans, stealth scans, or other information gathering activity.</li>
    <li>The transfer of technology, software, or other materials in violation of applicable export laws and regulations.</li>
    <li>Export Control Violations</li>
    <li>Using the Service in violation of applicable law and regulation, including, but not limited to, advertising, transmitting, or otherwise making available ponzi schemes, pyramid schemes, fraudulently charging credit cards, pirating software, or making fraudulent offers to sell or buy products, items, or services.</li>
    <li>Uttering threats;</li>
    <li>Distribution of pornographic materials to minors;</li>
    <li>and Child pornography.</li>
  </ol>
  <b>Examples of Unacceptable Uses</b><br><br>
  The following are representative examples only and do not comprise a comprehensive list of unacceptable uses:
  <ol>
    <li>High bandwidth operations, such as large file transfers and media sharing with peer-to-peer programs (i.e.torrents)</li>
    <li>Obscene or indecent speech or materials</li>
    <li>Defamatory or abusive language</li>
    <li>Using the Service to transmit, post, upload, or otherwise making available defamatory, harassing, abusive, or threatening material or language that encourages bodily harm, destruction of property or harasses another.</li>
    <li>Forging or misrepresenting message headers, whether in whole or in part, to mask the originator of the message.</li>
    <li>Facilitating a Violation of these Terms of Use</li>
    <li>Hacking</li>
    <li>Distribution of Internet viruses, Trojan horses, or other destructive activities</li>
    <li>Distributing information regarding the creation of and sending Internet viruses, worms, Trojan horses, pinging, flooding, mail-bombing, or denial of service attacks. Also, activities that disrupt the use of or interfere with the ability of others to effectively use the node or any connected network, system, service, or equipment.</li>
    <li>Advertising, transmitting, or otherwise making available any software product, product, or service that is designed to violate these Terms of Use, which includes the facilitation of the means to spam, initiation of pinging, flooding, mail-bombing, denial of service attacks, and piracy of software.</li>
    <li>The sale, transfer, or rental of the Service to customers, clients or other third parties, either directly or as part of a service or product created for resale.</li>
    <li>Seeking information on passwords or data belonging to another user.</li>
    <li>Making unauthorized copies of proprietary software, or offering unauthorized copies of proprietary software to others.</li>
    <li>Intercepting or examining the content of messages, files or communications in transit on a data network.</li>
  </ol>
</font>
</div>
  <p align="left">© 1996 - 2018 Marriott International, Inc. All rights reserved.
  <br> Marriott proprietary information
  <br>  <a href="http://www.marriott.com/marriott/internet-access/termsofuse.mi" >Terms of Use </a>| <b>Privacy and Cookie Statement</b>

  </p>
</font>


</div>
</body>
</html>
